{% extends 'layouts/main.html' %}
{% block title %}{{ artist.name }} | Artist{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ artist.name }}
			<a href="/artists/{{artist.id}}/edit">
				<span class="glyphicon glyphicon-pencil "></span>
			</a>
		</h1>
		<p class="subtitle">
			ID: {{ artist.id }} -
			<a href="#" onclick="deleteData('/artists/{{artist.id}}')">
				Delete
			</a>
		</p>
		<div class="genres">
			{% for genre in artist.genres %}
			<span class="genre">{{ genre }}</span>
			{% endfor %}
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ artist.city }}, {{ artist.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if artist.phone %}{{ artist.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i class="fas fa-link"></i> {% if artist.website %}<a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if artist.facebook_link %}<a href="{{ artist.facebook_link }}" target="_blank">{{ artist.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		{% if artist.seeking_venue %}
		<div class="seeking">
			<p class="lead">Currently seeking performance venues</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ artist.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
			<div style="text-align: center;">
				<h4><a href="/shows/create/with_artist/{{ artist.id }}"><i class="fas fa-calendar-plus"> </i> Book now </a></h4>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance venues
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ artist.image_link }}" alt="Artist Image" />
		<h3>Some of our hits</h3>
		<!-- Shows top two songs from iTunes - Added for fun - based on https://github.com/cfjedimaster/vue-demos -->
		<div id="app" v-cloak>
			<b-container >
				<b-row v-if="searching">
					<b-col sm="6">
						<i>Searching...</i>
					</b-col>
				</b-row>

				<b-row>
					<b-col sm="3" class="my-3" v-for="result in results" class="result">
						<b-card :title="result.trackName"
						class="h-100"
						img-top
						:img-src="result.artworkUrl100">
							<b-card-text>
							From [[ result.artistName ]], released on [[result.releaseDate | formatDate]].
							</b-card-text>
							<b-button @click="play(result.previewUrl)" variant="dark">&#9658; Play Sample</b-button>
						</b-card>
					</b-col>
				</b-row>

				<b-row v-if="noResults">
					<b-col sm="6">
						Sorry, but no results were found. I blame Apple.
					</b-col>
				</b-row>

			</b-container>
		</div>
		<script type="text/javascript">
			Vue.filter('formatDate', function(d) {
				if(!window.Intl) return d;
				return new Intl.DateTimeFormat('en-US').format(new Date(d));
			}); 

			const app = new Vue({
				el:'#app',
				data:{
					results:[],
					noResults:false,
					searching:false,
					audio:null
				},
				delimiters: ['[[',']]'],
				methods:{
					search:function() {
						if(this.audio) {
							this.audio.pause();
							this.audio.currentTime = 0;
						}
						this.results = [];
						this.searching = true;
						fetch("https://itunes.apple.com/search?term={{ artist.name }})}&limit=2&media=music")
						.then(res => res.json())
						.then(res => {
							this.searching = false;
							this.results = res.results;
							this.noResults = this.results.length === 0;
						});
					},
					play:function(s) {
						if(this.audio && this.audio.currentTime !=0) {
							this.audio.pause();
							this.audio.currentTime = 0;
							if(this.audio.src!=s) {
								this.audio = new Audio(s);
								this.audio.play();
							}
						} else {
						this.audio = new Audio(s);
						this.audio.play();
						}
					}
				},
				created: function() {
					this.search()
				}
			});
		</script>
	</div>
</div>
<section>
	<h2 class="monospace">{{ artist.upcoming_shows_count }} Upcoming {% if artist.upcoming_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.upcoming_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ artist.past_shows_count }} Past {% if artist.past_shows_count == 1 %}Show{% else %}Shows{% endif %}</h2>
	<div class="row">
		{%for show in artist.past_shows %}
		<div class="col-sm-4">
			<div class="tile tile-show">
				<img src="{{ show.venue_image_link }}" alt="Show Venue Image" />
				<h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
				<h6>{{ show.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

{% endblock %}

