.form-view > label {
  padding: 0px 0px 10px;
}

#add-form {
  text-align: center;
}

select, input {
  border-radius: 25px;
  border:2px solid lightgrey;
  background: #fffff;
  padding: 5px;
  width: 200px;
  height: 30px;
}

select {
  width: 190px;
  height: 40px;
}

::placeholder {
  color: lightgrey;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline:0;
  border:2px solid grey;
}