.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.categories-list > form {
  width: 60%;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  margin: 30px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 230px;
  background-color: #DDD;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 25px;
}

img.category-menu {
  width: 16px;
}


img.delete {
  width: 20px;
}

/* flashcard styling/transition logic inspired by https://codepen.io/sz/pen/zYxdVJO */
div.flashcard {
margin: auto;
border: 0;
width: 100%;
max-width: 600px;
height: 100%;
max-height: 230px;
}

label {
    display: block;
    width: 100%;
    height: 100%;
}

section {
    display: block;
    font: 20px Arial, sans-serif;
    text-align: center;
    width: 100%;
    transition: all 0.9s linear 0s;
}

section.front {
    color: black;
    background: #eee;
    height: 100%;
    overflow: hidden;
}   

section.back {
    color: #ddd;
    background: darkslategrey;
    height: 0%;
    overflow: hidden;
}

.Question-text {
  padding-top:70px;
  width: 75%;
  margin:auto;
}

.Answer-text {
  padding-top:100px;
  width: 75%;
  margin:auto;
}

.Section-footer {
  font-size: 10px;
  position: relative;
  top:170px;
  bottom: 0;
  color:#666;
}

.back .Section-footer {
  color:#ddd;
}