.quiz-play-holder {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 40px;
}

.category-holder {
    margin-top: 16px;
    font-size: 24px;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    color: dodgerblue;
}

.button {
    width: 150px;
    margin-top: 5px;
    background-color: green;
    border-radius: 25px;
    color: white;
    padding: 10px;
    align-self: center;
    height: 40px;
}

div.button {
    margin-top: 20px;
    margin-left: calc(50% - 50px);
}

.quiz-question {
    margin: 12px;
    font-size: 24px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

input {
    align-self: center;
}

button {
    border:0;
}

.quiz-answer {
    margin-top:10px;
    margin-bottom: 30px;
}

.play-again {
    margin-top:60px;
}